<div class="container my_neirong">
    <div>
        <ol class="breadcrumb pm_dingdan_lujing">
            <li><a href="#">当前所在的位置</a></li>
            <li><a href="#">首页</a></li>
            <li class="active">订单支付</li>
        </ol>
    </div>
    <div id="pm_dingdan_div">
        <!--头栏-->
        <div id="pm_dingdan_tl">
            <span id="pm_dingdan_span1">订单提交成功，请您尽快付款！订单号：</span>
            <span id="pm_dingdan_span2"><%=order.order_num%></span>
        </div>
        <!--下栏-->
        <div id="pm_dingdan_xl">
            <div id="pm_dingdan_xl1">
                <span id="pm_dingdan_span3">请选择在线支付平台</span>
                <span id="pm_dingdan_span4">（目前仅支持支付宝和微信）</span>
                <p id="pm_dingdan_span5">应付金额：￥<span class="pm_dingdan_jine"><%=(order.total_price)/100%></span></p>
            </div>
            <form action="/clean/paysuccess" method="post" >
                <input type="hidden" value="<%=order.order_num%>" name="order_num">
                <div class="pm_dingdan_radio1">
                    <label>
                        <input type="radio" name="pay_type" value="0"><img src="/images/zfb.jpg" alt="" class="pm_dingdan_img">
                    </label>
                </div>
                <div class="pm_dingdan_radio2">
                    <label>
                        <input type="radio" name="pay_type" value="1"> <img src="/images/weixin.jpg" alt="" class="pm_dingdan_img">
                    </label>
                </div>

                <button type="submit" class="btn btn-default btn-danger pm_dingdan_btn">立即支付</button>

            </form>
        </div>

    </div>
</div>