<div class="my_neirong">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="">当前所在的位置：</a></li>
            <li><a href="">首页</a></li>
            <li class="active">
                我的购物车
            </li>
        </ol>
    </div>
    <!--收获地址详情-->
    <div class="container center">
        <span>我的购物车</span>
    </div>
    <!--购物车-->
    <div class="container gouwuche">
        <div class="pm_gouwuche">
            <div class="pm_gouwuche1">
                <span><input type="checkbox" class="pm_gouwuche_quanxuan"></span>&nbsp;&nbsp;&nbsp;&nbsp;全选

                <span class="pm_gouwuche_goumai">购买信息</span>
            </div>

            <ul class="pm_gouwuche2">
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
                <li>操作</li>
            </ul>
        </div>
        <div class="pm_gouwuche_center">
            <div class="pm_gouwuche_center1">
                <div class="pm_gouwuche_center_quanxuan"><input type="checkbox" ></div>

                <img src='./images/index.png' alt="">
                <div class="pm_gouwuche_center2">
                    <span>小道理 分寸之间</span><br>
                    <span>购买信息</span>
                </div>

            </div>

            <ul class="pm_gouwuche_center3">
                <li>￥0.00</li>
                <li class="pm_gouwuche_center3_dianji"><a href="">-</a>
                    <input type="text" value="1"><a href="">+</a></li>
                <li>￥0.00</li>
                <li><a href="">删除</a></li>
            </ul>
        </div>
        <div class="pm_gouwuche_center">
            <div class="pm_gouwuche_center1">
                <div class="pm_gouwuche_center_quanxuan"><input type="checkbox" ></div>

                <img src='./images/index.png' alt="">
                <div class="pm_gouwuche_center2">
                    <span>小道理 分寸之间</span><br>
                    <span>购买信息</span>
                </div>

            </div>

            <ul class="pm_gouwuche_center3">
                <li>￥0.00</li>
                <li class="pm_gouwuche_center3_dianji"><a href="">-</a>
                    <input type="text" value="1"><a href="">+</a></li>
                <li>￥0.00</li>
                <li><a href="">删除</a></li>
            </ul>
        </div>

        <div class="pm_gouwuche_footer">
            <div class="pm_gouwuche_footer1">
                <div class="pm_gouwuche_footer_quanxuan">
                    <input type="checkbox">
                    <span>全选</span>
                    <span><a href="">删除选中图书</a></span>
                </div>
            </div>
            <div class="pm_gouwuche_footer2">
                <span class="pm_jiesuan_footer-footer1">共 <span>3</span> 本，共计：</span>
                <span class="pm_jiesuan_footer-footer2">￥3.00</span>
            </div>

        </div>


    </div>
    <div class="container">
        <div class="tiaozhuan">
            <a href="">再逛逛</a>
        </div>
        <div class="tijiao">
            <button type="button" class="btn btn-danger">确认支付</button>
        </div>
    </div>
</div>