<div class="jiesuan ">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="">当前所在的位置：</a></li>
            <li><a href="">首页</a></li>
            <li class="active">购物车</li>
        </ol>
    </div>
    <!--收获地址-->
    <div class="container center">
        <div class="pm_jiesuan1">
            <div class="queding"><span>确认收获地址</span></div>
            <div class="guanli"><a href="">管理收获地址</a></div>
        </div>

        <div class="radio radio1 ">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                <span>河南省郑州市中东线</span> <span>王XX(收)</span> <span>1231231231221</span>

            </label>
            <span class="radio1_span"><a href="">默认地址</a></span>
        </div>


    </div>
    <!--购买信息-->
    <div class="container footer">
        <div class="pm_jiesuan_footer">
            <div class="pm_jiesuan_footer1">
                <span>购买信息</span>
            </div>

            <ul class="pm_jiesuan_footer2">
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
            </ul>
        </div>
        <div class="pm_jiesuan_footer_center">
            <div class="pm_jiesuan_footer1">
                <img src='./images/index.png' alt="">
                <div class="pm_jiesuan_footer-center1">
                    <span>小道理 分寸之间</span><br>
                    <span>购买信息</span>
                </div>

            </div>

            <ul class="pm_jiesuan_footer-center2">
                <li>￥0.00</li>
                <li>1</li>
                <li>0.00</li>
            </ul>
        </div>
        <div>
            <div class="pm_jiesuan_footer-footer">
                <span class="pm_jiesuan_footer-footer1">共三本，共计：</span>
                <span class="pm_jiesuan_footer-footer2">￥3.00</span>
            </div>

        </div>


    </div>
    <div class="container">
        <div class="tijiao">
            <button type="button" class="btn btn-danger">提交订单</button>
        </div>
    </div>
</div>