<link rel='stylesheet' href='/css/iconfont.css'>


<div class="my_gouwuche">
    <a href="/shop_car">
        <span class="my_gouwuche_icon"><i class="iconfont icon-gouwuche"></i></span>
        <span class="my_gouwuche_num" id="shopping_car_total_num">0</span>
    </a>
</div>


