<div  id="my-book" class="pay">
    <div class="pc_right">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/shopping.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E4%BA%BA%E4%BA%8B%E7%94%B3%E8%AF%B7.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/IT%E6%9D%83%E9%99%90.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E7%94%B5%E8%84%91%E6%95%85%E9%9A%9C.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E7%94%B5%E8%84%91%E7%94%B3%E8%AF%B7.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E7%BB%A9%E6%95%88%E8%AF%84%E4%BC%B0.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/shopping.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E4%BA%BA%E4%BA%8B%E7%94%B3%E8%AF%B7.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/IT%E6%9D%83%E9%99%90.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E7%94%B5%E8%84%91%E6%95%85%E9%9A%9C.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E7%94%B5%E8%84%91%E7%94%B3%E8%AF%B7.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 400px;">
                    <a href="#" >
                        <img class="lazy" src="/images/%E7%BB%A9%E6%95%88%E8%AF%84%E4%BC%B0.svg" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a>Bootstrap 编码规范<br><small>by @mdo</small></a>
                        </h3>
                        <p>Bootstrap 编码规范：编写灵活、稳定、高质量的 HTML 和 CSS 代码的规范。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
