
<div class="pay" id="yinsi">

    <div class="">
        <!--上部-->
        <div id="pc_top">
            <span>隐私设置</span>
            <span class="pc_top-active">密码修改</span>
        </div>
        <!--下部-->

        <div class="pc_header-3-right">

            <div class="pc_yinsi">
                设置密码
                <br>
                <br>
                <span>原密码：</span>
                <input type="password" id="password">
                <span>新密码：(长度为6-16字符)</span> <br>
                <input type="password" id="repassword">
                <span> 确认新密码：(长度为6-16字符)</span>
                <input type="password" id="newpassword">
            </div>
            <div class="col-md-8">
                <button class="btn goumai " onclick="updatepassword()">确认修改</button>
            </div>


        </div>

    </div>
</div>